body {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #704F37;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 50px;
}

.coffee-icon {
    position: relative;
    margin-bottom: 20px;
}

.fa-coffee {
    font-size: 10em;
}

.steam {
    position: absolute;
    top: 20%; 
    left: 55%; 
}

.puff {
    position: absolute;
    height: 60px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    animation: rise 4s infinite;
}

.puff:nth-child(2) {
    animation-delay: 0.5s;
}

.puff:nth-child(3) {
    animation-delay: 1s;
}

@keyframes rise {
    0% {
        transform: translate(0, 0);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        transform: translate(-20px, -150px);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
        transform: translate(-40px, -300px);
    }
}

.calculator {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.input-field {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: 18px;
    text-align: center;
}

.ratio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.ratio span {
    font-size: 36px;
    margin: 0 10px;
}

.ratio label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.calculate-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #704F37;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.calculate-btn:hover {
    background-color: #403229;
    color: white;
}

#output {
    margin-top: 20px;
    font-size: 24px;
}

/* Styles for mobile and tablet */
@media (max-width: 768px) {
    h1, .ratio label, .input-field, .calculate-btn, #output {
        font-size: 2em; /* increased size for mobile and tablet */
    }

    .ratio {
        flex-direction: column; /* stack the coffee input, label, and water ratio input on top of each other */
    }

    .fa-coffee {
        font-size: 5em; /* reduced size of coffee icon for mobile and tablet */
    }

    .steam {
        top: 35%; /* adjust steam position for mobile and tablet */
    }
}
